*.DS_Store
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcworkspace/contents.xcworkspacedata
!*.xcworkspace/xcshareddata/
*.tmp
*.log
tmp/
*.cert
*.cer
*.mobileprovision
*.p12
*.user
